html.light {
    --sidebar-bg-color: #F9F9F9;
    --sidebar-text-color: hsl(0, 0%, 0%);
    --titlebar-hover-color: #dcdcdc;
    --response-bg-color: #f6f6f6;
    --nav-item-hover-color: #E1E3E1;
    --list-item-hover-color: #EDEDED;
    --list-item-selected-color: #E6E6E6;

    .list-container {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .el-result:hover {
        cursor: pointer;
        background-color: #f5f7fa;
    }

    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 5px;
        /* border: 1px solid #ccc; */
        max-height: 80vh;
    }

    code.hljs {
        padding: 3px 5px
    }

    /*!
        Theme: StackOverflow Light
        Description: Light theme as used on stackoverflow.com
        Author: stackoverflow.com
        Maintainer: @Hirse
        Website: https://github.com/StackExchange/Stacks
        License: MIT
        Updated: 2021-05-15
      
        Updated for @stackoverflow/stacks v0.64.0
        Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
        Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
      */
    .hljs {
        /* var(--highlight-color) */
        color: #2f3337;
        /* var(--highlight-bg) */
        background: #f6f6f6
    }

    .hljs-subst {
        /* var(--highlight-color) */
        color: #2f3337
    }

    .hljs-comment {
        /* var(--highlight-comment) */
        color: #656e77
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-meta .hljs-keyword,
    .hljs-doctag,
    .hljs-section {
        /* var(--highlight-keyword) */
        color: #015692
    }

    .hljs-attr {
        /* var(--highlight-attribute); */
        color: #015692
    }

    .hljs-attribute {
        /* var(--highlight-symbol) */
        color: #803378
    }

    .hljs-name,
    .hljs-type,
    .hljs-number,
    .hljs-selector-id,
    .hljs-quote,
    .hljs-template-tag {
        /* var(--highlight-namespace) */
        color: #b75501
    }

    .hljs-selector-class {
        /* var(--highlight-keyword) */
        color: #015692
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-symbol,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-selector-attr {
        /* var(--highlight-variable) */
        color: #54790d
    }

    .hljs-meta,
    .hljs-selector-pseudo {
        /* var(--highlight-keyword) */
        color: #015692
    }

    .hljs-built_in,
    .hljs-title,
    .hljs-literal {
        /* var(--highlight-literal) */
        color: #b75501
    }

    .hljs-bullet,
    .hljs-code {
        /* var(--highlight-punctuation) */
        color: #535a60
    }

    .hljs-meta .hljs-string {
        /* var(--highlight-variable) */
        color: #54790d
    }

    .hljs-deletion {
        /* var(--highlight-deletion) */
        color: #c02d2e
    }

    .hljs-addition {
        /* var(--highlight-addition) */
        color: #2f6f44
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: bold
    }

    .hljs-formula,
    .hljs-operator,
    .hljs-params,
    .hljs-property,
    .hljs-punctuation,
    .hljs-tag {
        /* purposely ignored */

    }
}