:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --titlebar-height: 35px;
}

body {
  margin: 0;
  width: 100% !important;
}

html {
  height: 100%;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  display: flex;
  width: 100%;
}

.log-textarea {
  background-color: black;
  color: rgb(255, 255, 255);
  height: 100%;
  /* 设置 textarea 高度为父元素高度 */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto;
  padding: 2px;
}

.log-info {
  color: #518BE1;
}

.log-warning {
  color: #FF8800;
}

.log-error {
  color: #FF0000;
}

.log-debug {
  color: #57B435;
}

.log-success {
  color: #00FF00;
}

.my-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pretty-response {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto;
  max-height: 60vh;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--response-bg-color);
  flex: 1;
  padding: 1em;
}

.console-log {
  height: 25px;
  background-color: #F2F3F5;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box {
  display: flex;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 设置align-right的元素内容右对齐 */
.align-right .el-form-item__content {
  display: flex;
  justify-content: flex-end;
}

.right-click {
  border: 0cap;

  .el-menu-item {
    font-size: 13px;
    height: 30px;
  }

  .el-menu-item.is-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    /*  色块的宽度 */
    height: 100%;
    background-color: #fff;
    /*  色块的颜色 */
    border-radius: 0 3px 3px 0;
    /* 轨道的形状 */
  }
}

/* 菜单栏 */
.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  /* 设置右键菜单图标和文字之间的间距 */
  img {
    margin-left: 5px;
    width: 16px; 
    height: 16px; 
    margin-right: -5px;
  }
}

.nav-item:hover {
  background-color: var(--nav-item-hover-color);
  border-radius: 5px;
}

.nav-text {
  text-align: left;
  margin-right: 10px;
}

.el-divider__text {
  background-color: var(--el-fill-color-blank);
}

.el-textarea__inner {
  height: 100%;
}

.list-container {
  width: 20vh;   
  border-radius: 5px;
  text-align: center;
  max-height: 120px;
}

.list-item.selected {
  background-color: var(--list-item-selected-color);
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--list-item-hover-color);
}

.el-card__body {
  padding: 10px;
}

.position-center {
  display: flex; 
  justify-content: center;
  align-items: center;
}

:deep(.el-table__header) {
  width: 100% !important;
}

:deep(.el-table__body) {
  width: 100% !important;
}

.editor-tabs .el-tabs__item {
  position: relative;
  display: inline-block;
  max-width: 300px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 26px !important; /* 给关闭按钮预留空间 */
}

.editor-tabs .el-tabs__item .el-icon {
  position: absolute !important;
  top: 13px !important;
  right: 7px !important;
}

.editor-tabs .el-tabs__nav {
  line-height: 40px;
}

.keyword-search .el-table__row:hover {
  cursor: pointer;
}


/* 网站扫描风险等级颜色 */

.severity-critical {
  color: #AF63F6;
}

.severity-high {
  color: red;
}

.severity-medium {
  color: orange;
}

.severity-low {
  color: rgb(0, 145, 255);
}

.severity-info {
  color: #7EC050;
}

.el-drawer__header {
  margin-bottom: 0px;
}

.drawer-title {
  font-weight: bold;
}

.el-col {
  text-align: center;
}

.el-text {
  display: flex;
  align-items: center;
  text-align: center
}

.finger-container {
  flex-wrap: wrap;
  display: flex;
  gap: 7px;
}

.demo-tabs .custom-tabs-label .el-icon {
  vertical-align: middle;
}

.demo-tabs .custom-tabs-label span {
  vertical-align: middle;
  margin-left: 4px;
}