:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  align-items: start;
}

html {
  height: 100%;
  overflow: hidden;
}
/* img */
.center {
  margin-left: 30%;
  width: 40%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  display: flex;
  width: 100%;
}

.log-textarea {
  background-color: black;
  color: rgb(255, 255, 255);
  height: 100%; /* 设置 textarea 高度为父元素高度 */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto;
  padding: 2px;
}

.log-info { color: lightblue; }
.log-warning { color: #D2BB85; }
.log-error { color: #E58C77; }
.log-debug { color: rgb(13, 85, 13); }
.log-success { color: rgb(98, 203, 98);}
.my-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom_eltabs_titlebar {
  position: absolute;
  right: 0px;
  top: 4px;
}

.pretty-response {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto;
  height: 60vh;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.console-log {
  height: 25px; 
  background-color: #F2F3F5;
  position: absolute;
  width: calc(100% - 64px);
  bottom: 0;
}

.console-log div {
  display: flex; 
  align-items: center; 
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.click-div:hover {
  background-color: #F3F3F5;
  border-radius: 5px;
  cursor: pointer;
}

.flex-box {
  display: flex;
}

.context-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown_icon {
  width: 16px;
  height: 16px;
}

.iframe {
  width:100%; 
  height:100%; border:none;
}